/* ----------------------------------------------------------------
	Canvas: Interior Design Studio
	Version: 1.0
-----------------------------------------------------------------*/

:root {
	--themecolor: #1c85e8;
}

.emphasis-title h2 {
	font-size: 48px;
}

.emphasis-title p {
	font-size: 18px;
	font-weight: 400;
	color: #525975;
}

/* How it works toggles - for 3 steps */

	.toggle.toggle-bg .togglet i {
		left: auto;
		right: 24px;
		line-height: 64px;
		width: 20px;
		font-size: 20px;
	}

	.toggle.toggle-bg .togglet, .toggle.toggle-bg .toggleta {
		background-color: #F2F6FA;
		padding: 10px 24px;
	}

	.toggle.toggle-bg .togglec {
		background-color: #F2F6FA;
		padding: 0 24px 24px;
	}

	.togglec {
		font-weight: 400;
		font-size: 1em;
	    color: #888;
	    line-height: 1.7;
	}

	.togglet .toggle-icon {
		-webkit-transition: transform .25s ease;
		-o-transition: transform .25s ease;
		transition: transform .25s ease;
	}

	.togglet.toggleta .toggle-icon {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		color: var(--themecolor);
	}
}

/* Other */

.quote p { font-size: 20px; }


.heading-block h2 + span {
	font-size: 18px;
	color: #999 !important;
}

/* ----- | Story-Box | ----- */
.story-box {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	cursor: pointer;
}

.story-box .story-box-image {
	width: 70%;
	height: 500px;
	z-index: 2;
	overflow: hidden;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
}

.story-box .story-box-image img {
	display: block;
	height: auto;
	width: 100%;
	opacity: 1;
	transition: opacity .3s ease;
}

.story-box:hover .story-box-image img {
	opacity: .9;
 }

.story-box .story-box-info {
	box-sizing: border-box;
	width: 50%;
	height: 430px;
	padding: 60px;
	margin: 35px 0 0 -20%;
	background: #fff;
	z-index: 4;
	box-shadow: 0 10px 45px rgba(0,0,0,.1);
	transition: all ease-in .3s;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
}

.story-box.description-left .story-box-info {
	-ms-flex-order: -1;
	order: -1;
	margin: 35px -20% 0 0;
}

.story-box .story-box-info .story-title {
	font-family: 'Playfair Display';
	font-size: 26px;
	line-height: 1.4;
	font-weight: 700;
	letter-spacing: 0;
	color: #1d2c4c;
}

.story-box .story-box-info .story-box-content p {
	font-size: 15px;
	font-weight: 400;
	color: #666;
	line-height: 16px;
}

.story-box .story-box-info .story-box-content a {
	font-size: 16px;
	/* text-decoration: underline !important; */
}

/* ----- Story-Box Responsive ----- */
@media (max-width: 991px) {

	.story-box .story-box-image {
		height: auto;
		width: 100%;
		height: 400px;
		-ms-flex-order: -1;
		order: -1;
	}

	.story-box.description-left .story-box-info {
		-ms-flex-order: -1;
		order: -1;
		margin: 35px -20% 0 0;
	}

	.story-box.description-left .story-box-info { margin: -40px 5% 0; }

	.story-box .story-box-info {
		max-width: 90%;
		height: auto;
		-ms-flex-preferred-size: 90%;
		flex-basis: 90%;
		margin: -40px 5% 0;
	}

	#side-panel-trigger { right: 40px !important; }

	.mobile-side-panel {
		position: absolute;
		display: block;
		top: 26px;
		font-size: 18px;
		color: #222;
		right: 40px;
		padding: 10px;
	}
}


@media (max-width: 767px) {

	.story-box.description-left .story-box-info { margin: -100px 5% 0; }
	.story-box .story-box-info {
		padding: 35px;
		text-align: center;
		margin: -100px 5% 0;
	}
	.customers-count { border-right: none }
}

@media (max-width: 479px) {

	.story-box .story-box-info {
		width: 100%;
		padding: 15px;
		text-align: center;
		margin: -200px 5% 0;
	}
	.story-box.description-left .story-box-info { margin: -200px 5% 0; }

	ul.tab-nav:not(.tab-nav-lg) li a i {display: none;}
}


/* ----- Tab ----- */
ul.tab-nav:not(.tab-nav-lg) { border-bottom: none; }

ul.tab-nav:not(.tab-nav-lg) li {
	float: left;
	border: none;
	height: auto;
	text-align: center;
}

.tabs.tabs-alt ul.tab-nav li.ui-tabs-active a { border: none; }

ul.tab-nav:not(.tab-nav-lg) li a {
	color: #1d2c4c;
	height: auto;
	line-height: 1;
	background-color: transparent;
	font-size: 15px;
	font-weight: 400;
	padding: 0 0 20px 0;
}

ul.tab-nav:not(.tab-nav-lg) li a i {
	display: block;
	font-size: 42px;
	margin: 0 0 17px 0;
	color: var(--themecolor);
}

ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a { top: 0; }

ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a:after {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
	border-radius: 50%;
	background: var(--themecolor);
}

.tab-container { margin: 30px 0 0; }


/* ----- Tab Responsive ----- */
.acctitle {
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #444;
    border-top: 1px dotted #DDD;
    padding: 12px 0 12px 24px;
}
.acc_content { padding: 10px 0 25px; }
.acctitle i {
	color: var(--themecolor);
	font-size: 16px;
	top: 3px;
}

.acctitle i.icon-ok-circle,
.acctitle i.icon-remove-circle { display: none; }
